@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 208 100% 27%;
    --card: 208 100% 92%;
    --card-foreground: 208 100% 27%;
    --popover: 208 100% 97%;
    --popover-foreground: 208 100% 27%;
    --primary: 324 84% 65%;
    --primary-foreground: 324 84% 5%;
    --secondary: 199 94% 67%;
    --secondary-foreground: 199 94% 7%;
    --muted: 208 100% 77%;
    --muted-foreground: 208 100% 47%;
    --accent: 158 100% 41%;
    --accent-foreground: 158 100% 0%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 0 80% 90%;
    --border: 208 100% 57%;
    --input: 208 100% 57%;
    --ring: 324 84% 45%;
    --radius: 0.5rem;
    --chart-1: 324 84% 65%;
    --chart-2: 199 94% 67%;
    --chart-3: 158 100% 41%;
    --chart-4: 158 100% 51%;
    --chart-5: 324 84% 75%;

    --background-demo: 208 100% 97%;
    --foreground-demo: 208 100% 27%;
    --card-demo: 208 100% 92%;
    --card-demo-foreground: 208 100% 27%;
    --popover-demo: 208 100% 97%;
    --popover-demo-foreground: 208 100% 27%;
    --primary-demo: 324 84% 65%;
    --primary-demo-foreground: 324 84% 5%;
    --secondary-demo: 199 94% 67%;
    --secondary-demo-foreground: 199 94% 7%;
    --muted-demo: 208 100% 77%;
    --muted-demo-foreground: 208 100% 47%;
    --accent-demo: 158 100% 41%;
    --accent-demo-foreground: 158 100% 0%;
    --destructive-demo: 0 80% 50%;
    --destructive-demo-foreground: 0 80% 90%;
    --border-demo: 208 100% 57%;
    --input-demo: 208 100% 57%;
    --ring-demo: 324 84% 45%;
    --chart-1-demo: 324 84% 65%;
    --chart-2-demo: 199 94% 67%;
    --chart-3-demo: 158 100% 41%;
    --chart-4-demo: 158 100% 51%;
    --chart-5-demo: 324 84% 75%;
  }

  .dark {
    --background: 244 21% 13%;
    --foreground: 244 21% 83%;
    --card: 244 21% 18%;
    --card-foreground: 244 21% 83%;
    --popover: 244 21% 13%;
    --popover-foreground: 244 21% 83%;
    --primary: 140 84% 45%;
    --primary-foreground: 324 84% 100%;
    --secondary: 199 94% 47%;
    --secondary-foreground: 199 94% 100%;
    --muted: 244 21% 53%;
    --muted-foreground: 244 21% 33%;
    --accent: 158 100% 21%;
    --accent-foreground: 158 100% 100%;
    --destructive: 0 80% 30%;
    --destructive-foreground: 0 80% 90%;
    --border: 244 21% 53%;
    --input: 244 21% 53%;
    --ring: 324 84% 100%;
    --radius: 0.5rem;
    --chart-1: 324 84% 45%;
    --chart-2: 199 94% 47%;
    --chart-3: 158 100% 21%;
    --chart-4: 158 100% 31%;
    --chart-5: 324 84% 55%;
    --background-demo: 244 21% 13%;
    --foreground-demo: 244 21% 83%;
    --card-demo: 244 21% 18%;
    --card-demo-foreground: 244 21% 83%;
    --popover-demo: 244 21% 13%;
    --popover-demo-foreground: 244 21% 83%;
    --primary-demo: 140 84% 45%;
    --primary-demo-foreground: 324 84% 100%;
    --secondary-demo: 199 94% 47%;
    --secondary-demo-foreground: 199 94% 100%;
    --muted-demo: 244 21% 53%;
    --muted-demo-foreground: 244 24% 48%;
    --accent-demo: 158 100% 21%;
    --accent-demo-foreground: 158 100% 100%;
    --destructive-demo: 0 80% 30%;
    --destructive-demo-foreground: 0 80% 90%;
    --border-demo: 244 21% 53%;
    --input-demo: 244 21% 53%;
    --ring-demo: 324 84% 100%;
    --chart-1-demo: 324 84% 45%;
    --chart-2-demo: 199 94% 47%;
    --chart-3-demo: 158 100% 21%;
    --chart-4-demo: 158 100% 31%;
    --chart-5-demo: 324 84% 55%;
  }

}

@layer base {
  .indicator {
    @apply relative inline-flex max-w-max;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-visible {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }

  .shimmer-wrapper-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
  }
  .shimmer-wrapper-dark-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      hsl(var(--primary)) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    opacity: 0.2;
  }

  .shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0) 0%,
      rgba(100, 80, 80, 0.1) 50%,
      rgba(245, 245, 245, 0) 100%
    );

    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
  }

  .shimmer-wrapper-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0) 0%,
      hsla(var(--primary)) 50%,
      rgba(245, 245, 245, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    opacity: 0.2;
  }

  @keyframes shimmer {
    0% {
      background-position: -250%;
    }
    100% {
      background-position: 250%;
    }
  }

  .shimmer-animation {
    @apply shimmer-wrapper dark:shimmer-wrapper-dark;
  }
  .shimmer-animation-primary {
    @apply shimmer-wrapper-primary dark:shimmer-wrapper-dark-primary;
  }
}

@layer base {
  body {
    @apply bg-background-demo text-foreground-demo;
  }
}

@media (min-width: 768px) {
  /* Size */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track,
  .scrollbar-visible::-webkit-scrollbar-track {
    border-radius: 999999px;
    background: hsla(208, 100%, 27%, 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb,
  .scrollbar-visible::-webkit-scrollbar-thumb {
    background: hsla(224, 21%, 83%, 0.4);
    border-radius: 9999px;
  }
}
