@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Solarized */
    --background: 0 0% 98%;
    --foreground: 240 10% 20%;
    --card: 0 0% 98%;
    --card-foreground: 240 10% 20%;
    --popover: 0 0% 98%;
    --popover-foreground: 240 10% 20%;
    --primary: 39 80% 50%;
    --primary-foreground: 39 100% 98%;
    --secondary: 192 10% 85%;
    --secondary-foreground: 192 20% 15%;
    --muted: 192 5% 92%;
    --muted-foreground: 192 10% 35%;
    --accent: 39 70% 60%;
    --accent-foreground: 192 20% 15%;
    --destructive: 0 80% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 192 10% 85%;
    --input: 192 10% 85%;
    --ring: 39 80% 50%;
    --radius: 0.5rem;
    --chart-1: 39 80% 50%;
    --chart-2: 192 10% 85%;
    --chart-3: 39 70% 60%;
    --chart-4: 39 70% 60%;
    --chart-5: 39 70% 60%;

    --background-demo: 0 0% 100%;
    --foreground-demo: 222 84% 5%;
    --card-demo: 0 0% 100%;
    --card-demo-foreground: 222 84% 5%;
    --popover-demo: 0 0% 100%;
    --popover-demo-foreground: 222 84% 5%;
    --primary-demo: 221 83% 53%;
    --primary-demo-foreground: 210 40% 98%;
    --secondary-demo: 210 40% 96%;
    --secondary-demo-foreground: 222 47% 1%;
    --muted-demo: 210 40% 96%;
    --muted-demo-foreground: 215 16% 46%;
    --accent-demo: 210 40% 96%;
    --accent-demo-foreground: 222 47% 1%;
    --destructive-demo: 0 84% 60%;
    --destructive-demo-foreground: 210 40% 98%;
    --border-demo: 31.8% 91%;
    --input-demo: 31.8% 91%;
    --ring-demo: 221 83% 53%;
    --radius: 0.5rem;
    --chart-2-demo: 12 76% 61%;
    --chart-3-demo: 173 58% 39%;
    --chart-4-demo: 197 37% 24%;
    --chart-5-demo: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 192 20% 12%;
    --foreground: 70 90% 98;
    --card: 192 20% 12%;
    --card-foreground: 70 90% 98;
    --popover: 192 20% 12%;
    --popover-foreground: 70 90% 98;
    --primary: 39 80% 50%;
    --primary-foreground: 39 100% 98%;
    --secondary: 192 10% 25%;
    --secondary-foreground: 192 30% 85%;
    --muted: 192 5% 18%;
    --muted-foreground: 39 50% 60%;
    --accent: 192 10% 25%;
    --accent-foreground: 192 30% 85%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 39 90% 98%;
    --border: 192 10% 25%;
    --input: 192 10% 25%;
    --ring: 39 80% 50%;
    --chart-1: 39 80% 50%;
    --chart-2: 192 10% 25%;
    --chart-3: 39 80% 50%;
    --chart-4: 39 80% 50%;
    --chart-5: 39 80% 50%;

    --background-demo: 222 84% 5%;
    --foreground-demo: 210 40% 98%;
    --card-demo: 222 84% 5%;
    --card-demo-foreground: 210 40% 98%;
    --popover-demo: 222 84% 5%;
    --popover-demo-foreground: 210 40% 98%;
    --primary-demo: 217 91% 59.8% 59.8%;
    --primary-demo-foreground: 222 47% 1%;
    --secondary-demo: 217 32% 17%;
    --secondary-demo-foreground: 210 40% 98%;
    --muted-demo: 217 32% 17%;
    --muted-demo-foreground: 215 20% 65%;
    --accent-demo: 217 32% 17%;
    --accent-demo-foreground: 210 40% 98%;
    --destructive-demo: 62.8% 30%;
    --destructive-demo-foreground: 210 40% 98%;
    --border-demo: 217 32% 17%;
    --input-demo: 217 32% 17%;
    --ring-demo: 224 76% 48%;
    --chart-1-demo: 220 70% 50%;
    --chart-2-demo: 160 60% 45%;
    --chart-3-demo: 30 80% 55%;
    --chart-4-demo: 280 65% 60%;
    --chart-5-demo: 340 75% 55%;
  }
}

@layer base {
  .indicator {
    @apply relative inline-flex max-w-max;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-visible {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }

  .shimmer-wrapper-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
  }
  .shimmer-wrapper-dark-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      hsl(var(--primary)) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    opacity: 0.2;
  }

  .shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0) 0%,
      rgba(100, 80, 80, 0.1) 50%,
      rgba(245, 245, 245, 0) 100%
    );

    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
  }

  .shimmer-wrapper-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0) 0%,
      hsla(var(--primary)) 50%,
      rgba(245, 245, 245, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    opacity: 0.2;
  }

  @keyframes shimmer {
    0% {
      background-position: -250%;
    }
    100% {
      background-position: 250%;
    }
  }

  .shimmer-animation {
    @apply shimmer-wrapper dark:shimmer-wrapper-dark;
  }
  .shimmer-animation-primary {
    @apply shimmer-wrapper-primary dark:shimmer-wrapper-dark-primary;
  }
}

@layer base {
  body {
    @apply bg-background-demo text-foreground-demo;
  }
}

@media (min-width: 768px) {
  /* Size */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track,
  .scrollbar-visible::-webkit-scrollbar-track {
    border-radius: 999999px;
    background: hsla(208, 100%, 27%, 0.1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb,
  .scrollbar-visible::-webkit-scrollbar-thumb {
    background: hsla(224, 21%, 83%, 0.4);
    border-radius: 9999px;
  }
}
